#home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    background-size: cover;
}

#content{
    margin-top: 5%;
    color: white;
    animation: content 1s ease-in-out;    
}

@keyframes content {
    0%{
        opacity: 0;
        transform: translateX(-50%);
    }
}

#content .name{
    color: blue;
}

#content button{
    margin-top: 20px;
    padding: 12px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    background-color:blue;
    box-shadow: 0 0 2px rgb(0, 132, 255);
}

#content button:hover{
    box-shadow: 0 0 10px rgb(0, 132, 255);
    background: transparent;
    border: 1px solid rgb(0, 132, 255) ;
    border-radius: 2px;
    font-weight: 500;
}

#content .socialmedia a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    border: 2px solid blue;
    font-size: 20px;
    color: blue;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

#content .socialmedia a:hover{
    background-color: blue;
    color:white;
    box-shadow: 0 0 15px rgb(0, 132, 255);
}

#profile img{
    margin-top: 10%;
    position: relative;
    width: 20rem;
    border-radius: 50%;
    background: rgba(6, 76, 142, 0.326);
    border: .2rem solid blue;
    transition: 1s;
    animation: img 1s ease-in-out;
}

@keyframes img {
    0%{
        opacity: 0;
        transform: translateY(70%);
    }
    
}

#profile img:hover{
    box-shadow: 0 0 15px blue;
    transform: scale(1.05);
    transition: 1s;
}