<section id="home">
    <div class="container-fluid col-lg-11 col-11">
      <div id="fullintro" class="row" >
        <div id="content" class="col-lg-6 col-md-6">
          <h2>Hi, I am</h2>
          <h1><span class="name"><b>Surendhar</b></span></h1>
          <h2>and I'm a <span id="role" style="color: yellow;"></span></h2>
          <p style="color: gray; font-size: 20px; margin-top: 25px;">
            My native is Trichy district of Tamilnadu.I have completed my bachelor's degree in the stream of Computer Science and Engineering.
          </p>
            
          <div>
            <button class="btn">
              <i class='bx bxs-download' style="color: white;"></i>
              <a href="Surendhar.pdf" download target="_blank" style="text-decoration: none; color: white;">Download CV</a>
            </button>        
          </div> 
          
          <div class="socialmedia">
            <a href="https://www.instagram.com/i_am_surendhar" target="_blank"><i class='bx bxl-instagram'></i></a>
            <a href="https://www.linkedin.com/in/surendhar-s-56bb78232" target="_blank"><i class='bx bxl-linkedin' ></i></a>
          </div>
        </div>
      
        <div id="profile" class="col-lg-6 col-md-6 py-mg-5 py-5 text-center ">
          <img src="my.png" class="img-fluid" >    
        </div>
      </div>
    </div>
  </section>