<section id="projects">
    <div class="container-fluid col-lg-11">
      <h2 class="text-center" style="font-weight: bold; color: black;">Project</h2>
      <div id="Project" class="row text-center" style="margin-top: 25px;">
        <div class="col-lg-6 col-md-12 col-12">
          <img class="img-fluid" src="foodcourt.png" style="border-radius: 20px;">
          <h4 style="font-weight: bold; margin-top: 15px;">
            Food Court
          </h4>
          <p>
            Food court is an android application allows the user to order their food with the help of their mobile at any time.
          </p>
        </div>

        <div class="col-lg-6 col-md-12 col-12">
          <img class="img-fluid" src="SSR.png" style="border-radius: 20px;">
          <h4 style="font-weight: bold; margin-top: 15px;">
            SSR Trading Academy                     
          </h4>
          <p>
            SSR Trading Academy was an web application.It was developed in ROR(Ruby on Rails) technology.
          </p>
        </div>
      </div>  
      

    </div>

  </section>
