nav{
    width: 100%;
    position: sticky !important;
    left: 0;
    top: 0;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, .5);
    z-index: 10;
    animation: nav 1s ease-in-out;
}

@keyframes nav {
    0%{
        transform: translateY(-100%);
    }
    
}

.navbar-brand{
    font-weight: 600;
}

.navbar-brand .name{
    color: blue;
}