<section id="educations">
    <div class="container-fluid col-lg-11">
      <h2 class="text-center" style="font-weight: bold; color: white;">Education</h2>
      <div id="details" class="row text-center">
        <div class="col-lg-6 col-md-6 col-12 py-4">
          <img class="img-fluid" src="schl.jpg" style="border-radius: 20px;">
          <h4>
            <i class='bx bxs-school' style="color: blue; padding: 5px;"></i>
            Sowdambikaa Matric Hr Sec School
          </h4>
          
          <p style="color: white; font-size: 12px;">
            SSLC<span> 80% </span>at 2017               
          </p>

          <p style="color: white; font-size: 12px;">
            HSC<span> 49% </span>at 2019              
          </p>
        </div>

        <div class="col-lg-6 col-md-6 col-12 py-4">
          <img class="img-fluid" src="clg.jpg" style="border-radius: 20px;">
          <h4>
            <i class='bx bxs-graduation' style="color: blue; text-shadow: 0 0 2px blue; padding: 5px;" ></i>
            kongunadu college of engineering and technology
          </h4>
          <p style="color: white; font-size: 12px;">
            CGPA -<span> 8.26 </span>
          </p>
          <p style="color: white; font-size: 12px;">
            2019-2023
          </p>

        </div>
      </div>
    </div>

  </section>
