#educations{
    padding-top: 80px;    
    background:black;
}

#details img{
    box-shadow: 0 0 5px rgb(134, 112, 234), 0 0 10px rgb(19, 25, 195);
    width: 70%; 
    transition: 1s;  
}
#details img:hover{
    transform: scale(1.05);
    transition: 1s;
}
#details h4{
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding-top: 25px;
}
#educations span{
    font-weight: bold; 
    color: blue ;
}